// @import "bootstrap/scss/bootstrap";
@import url("../../components/App.css");

.categoryCard-womensclothing {
  background: url("../../../assets/images/women\'s\ clothing.jpg");
}

.categoryCard-mensclothing {
  background: url("../../../assets/images/men\'s\ clothing.jpg");
}

.categoryCard-electronics {
  background: url("../../../assets/images/electronics.jpg");
}

.categoryCard-jewelery {
  background: url("../../../assets/images/jewelery.jpg");
}